################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CoinUtils/MSVisualStudio/v14/x64-v140-Release
